<%= form_for @question, :html => {:class => 'ui form'} do |f| %>
    <%= render 'common/errors', resource: @question  %>
  <div class="field">
    <%= f.label :Title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :Question %>
    <%= f.text_area :body %>
  </div>

    <div class="field">
      <%= f.label :Tags %>
      <%= f.text_field :all_tags %>
    </div>

    <%= f.submit 'Post Your Question', class:'ui button' %>
<% end %>