    <div class="ui fluid <%= question_link_class(question) %>card question">
      <div class="content">
        <div class="right floated meta">
          
            <%= question.created_at.strftime('%d %B, %Y at %H:%M:%S') %>
          
          <% if can? :update, question %>
              <%= link_to 'edit', edit_question_path(question) %>
              <%= link_to 'delete', question_path(question), method: :delete%>
          <% end %>
        </div>
        <div class="header">
          <%= link_to question.title, question_path(question) %>
        </div>
        <% if current_page?(question_path(question)) %>
            <div class="description">
              <p>
                <%= question.body %>
              </p>           
            </div>
            <div class="floated rigth">
               <div class="ui segment basic voting ">
                <% if can? :vote, question %>
                    <%= button_to vote_question_path(question, vote: true), form_class:'vote like', remote: true, method: 'post' do %>
                        <i class="angle up icon"></i>
                    <% end %>
                    <span class="<%= total_votes_color(question.total_votes) %>">
                      <%= question.total_votes %>
                    </span>
                    <%= button_to  vote_question_path(question, vote: false), form_class:'vote dislike', remote: true, method: 'post' do %>
                        <i class="angle down icon"></i>
                    <% end %>
                  <% else %>
                    <span class="<%= total_votes_color(question.total_votes) %>">
                      <%= pluralize(question.total_votes, 'vote') %> 
                    </span>
                <% end %>
                <div>        
                <%= pluralize(question.impressionist_count, 'view') %>
                </div>
                <div id="number_comments">
                <%= pluralize(question.comments.published.count, 'comment') %>
                </div>
            </div>
            </div>
         
        <% end %>
      </div>
      <div class="extra content">
        <div class="item">
          <span class="left floated ">
            <%= raw question.tags.map(&:name).map{|t| link_to t, tag_path(t), class: 'ui label' }.join(' ') %>
          </span>
          <div class="right floated author">
            <%= link_to  user_path(question.user), class:'ui image label' do %>
                <%= avatar_for(question.user) %>
                <%= question.user.login %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
