<div class="ui stackable mobile vertically reversed grid">
  <div class="twelve wide column">
    <%= form_tag questions_path, method: 'get' do %>
        <div class="ui action fluid input">
          <%= text_field_tag :search, params[:search], placeholder: 'Enter question...' %>
          <%= button_tag 'Search Question', name: nil, class: 'ui button'  %>
        </div>
    <% end %>
    <h1>Questions
      <%= link_to  new_question_path, class: 'ui right floated small teal labeled icon button' do %>
          <i class="add icon"></i> Ask Question
      <% end %>
    </h1>
    <% if @questions.any? %>
        <%= render @questions %>
    <% else %>
      <h4>No questions</h4>
    <% end %>
    <%= will_paginate @questions %>
  </div>
  <div class="four wide  column">
    <div class="ui labels">
      <h3 class="ui dividing header">Tags</h3>
      <% @tags.each do |t| %>
          <%=  link_to t, tag_path(t), class: 'ui label' %>
      <% end %>
    </div>
  </div>
</div>