  <%= render @question %>
<h3 class="ui dividing header">Comments</h3>
<div class="ui comments">
  <%= render @comments %>
</div>
<% if can? :create, Comment %>
    <%= render 'comments/form' %>
<% else%>
    <div class="ui message">
      <div class="header">
        Info
      </div>
      <p>You need to sign in or sign up before post your comment.</p>
      <p>
        <%= link_to('Login', new_user_session_path)  %>
        or
        <%= link_to('Sign up', new_user_registration_path)  %>
      </p>
    </div>
<% end %>