<h2 class="ui header dividing">Edit password <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:'ui form', method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
 <div class="two fields">
   <div class="field">
     <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
     <%= f.password_field :password, autocomplete: "off" %>
     <% if @minimum_password_length %>
         <br />
         <em><%= @minimum_password_length %> characters minimum</em>
     <% end %>
   </div>

   <div class="field">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation, autocomplete: "off" %>
   </div>
 </div>




  <div class="actions">
    <%= f.submit "Update", class: 'positive ui button' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<%= button_to "Delete my account", registration_path(resource_name), class: 'negative ui button', data: { confirm: "Are you sure?" }, method: :delete %>
<br>
<%= link_to "Back", :back %>
