<div class="ui two column centered grid">
    <div class="column">

<h2 class="ui dividing header">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html:{class:'ui form', multipart: true }) do |f| %>
  <%= devise_error_messages! %>

    <div class="two fields">
      <div class="field">
        <%= f.label :login%>
        <%= f.text_field :login, autofocus: true%>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email%>
      </div>
    </div>
    <div class="field">
        <%= f.label :avatar%>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
    </div>
    <div class="three fields">

      <div class="field">
        <%= f.label :country  %>
        <%= f.text_field :country %>
      </div>

      <div class="field">
        <%= f.label :city  %>
        <%= f.text_field :city %>
      </div>

      <div class="field">
        <%= f.label :address  %>
        <%= f.text_field :address %>
      </div>

    </div>

    <div class="two fields">

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

    </div>
    <div class="actions">
      <%= f.submit "Sign up", {class:'ui button'} %>
    </div>
<% end %>
<%= render "devise/shared/links" %>
    </div>
</div>