<div class="comment" id="comment_id_<%= comment.id %>">
  <div class="avatar">
    <%= avatar_for(comment.user) %>
  </div>
  <div class="content">
    <div class="header">

      <%= link_to comment.user.login, user_path(comment.user), class: 'author' %>
      <div class="metadata">
        <span class="date"> <%= comment.created_at.strftime('%d %B, %Y at %H:%M:%S') %></span>
      </div>
      <div class="floated rigth">
        <div class="voting">
          <% if can? :vote, comment %>
            <%= button_to   vote_question_comment_path(comment.question, comment, vote: true), form_class: 'vote like', remote: true, method: 'post' do %>
                <i class="angle up icon"></i>
            <% end %>
            <span class="<%= total_votes_color(comment.total_votes) %>"><%= comment.total_votes %></span>
            <%= button_to   vote_question_comment_path(comment.question, comment, vote: false), form_class: 'vote dislike', remote: true, method: 'post' do %>
                <i class="angle down icon"></i>
            <% end %>
          <% end %>
        </div>
        <div class="make-best">
          <% if can? :best, comment %>                      
            <%= button_to  best_question_comment_path(comment.question, comment, best: true), disabled: comment[:best], title: 'make best',  class: 'ui icon button', remote: true, method: 'post' do  %>
              <i class="check icon large <%= best_comment_icon_class(comment[:best]) %>"></i>
            <% end %>                     
          <% elsif comment[:best] == true %>
            <i class="check icon large green" title="The question owner accepted this as the best answer"></i>
          <% end %>
        </div>
    </div>
    <div class="text">
      <%= comment.content %>
    </div>
    <div class="actions">
      <% if can? :update, comment %>
          <%= link_to "Edit", '', class: 'edit-comment-link', data: { comment_id: comment.id } %>
          <%= link_to "Delete", [comment.question, comment],
                     method: :delete, remote: true, data:{ confirm: "Are u sure?"} %>
      <% end %>
    </div>
    <br>
    <%= form_for([@question, comment], remote: true,
                 html: { class: 'ui form hidden', id:"edit_comment_form_#{ comment.id }" }) do |f|%>
        <div class="field">
          <%= f.label "Comment"%>
          <%= f.text_area :content%>
        </div>
        <%= f.submit 'Edit', class:'ui blue submit button' %>
    <% end %>
  </div>
</div>
</div>
