<div class="ui error message hidden comment-create">
  <div class="header">Error</div>
  <i class="close icon"></i>
  <p></p>
</div>
<%= form_for([@question, @question.comments.build], html: {class:'ui form create-form'}, remote: true) do |f| %>
    <div class="field">
      <%= f.label 'Your comment' %>
      <%= f.text_area :content %>
    </div>
    <%= f.submit 'Add comment', class:'ui blue  submit  button' %>
<% end %>

