$message = $('.error.message.comment-create')
<% if @comment.errors.present? %>
  <% @comment.errors.full_messages.each do |m| %>
    $message.find('p').text('<%= j m.html_safe %>')
    if ( $message.hasClass('hidden') )
        $('.error.message').transition('scale');
  <% end %>
<% else %>
  if ( !$message.hasClass('hidden') )
      $('.error.message').transition('scale');
  $('.ui.comments').prepend("<%= j render @comment %>");
  $('.create-form #comment_content').val('')
<% end %>