var commentsNumber = function (){
   var number = parseInt($('#number_comments').text()) - 1;
   var text = number + ' comment'
    if (number > 1) {
        text += 's'
    }
    return text
}

$("#comment_id_<%=@comment.id%>").remove();
$("#number_comments").text(commentsNumber());