<%= form_for([@question, @comment], html: {class: 'ui form'}) do |f|%>
    <div class="field">
      <%= f.label "Comment"%>
      <%= f.text_area :content%>
    </div>
  <%= f.submit 'Save', class:'ui blue submit button' %>
<% end %>