<% if @comment.errors.present? %>
  <% @comment.errors.full_messages.each do |m| %>
    $('.error.message p').text('<%= j m.html_safe %>')
  <% end %>
<% else %>
  $("#comment_id_<%=@comment.id%>").html("<%= j render @comment %>");
<% end %>
