<% if can? :change_role, User %>
    <%= form_tag change_role_user_path(user), class: 'ui form', method: :patch do %>
        <%= label_tag 'Change role' %>
        <div class="two fields">
          <div class="field">
            <%= select_tag(:role, options_for_select(User.roles.keys, selected: user.role), class: 'ui dropdown' ) %>
          </div>
          <div class="field">
            <%= submit_tag("apply", class: 'ui button positive') %>
          </div>
        </div>
    <% end %>
<% end %>