<div class="ui two column centered grid">
    <div class="column">
        <h2 class="ui dividing header">Edit profile</h2>
<%= form_for @user, :html => {:class => 'ui form'} do |f|%>
  <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= @user.errors[:email].try(:first) %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
    <%= @user.errors[:city].try(:first) %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
    <%= @user.errors[:country].try(:first) %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= @user.errors[:address].try(:first) %>
  </div>

    <%= f.submit 'Save', {class: 'ui button'} %>
<% end %>
    </div>
  </div>