<table  class="ui celled padded table" >
  <thead>
  <tr>
    <th>email</th>
    <th>role</th>
    <th>login</th>
    <th>country/city/address</th>
    <th>change role</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |u|%>
      <tr>
        <td><%= link_to u.email, user_path(u)%></td>
        <td><%= u.role %></td>
        <td><%= u.login %></td>
        <td><%= u.country %>
          <%= u.city %>
          <%= u.address%>
        </td>
        <td>
          <%= render partial: 'users/change_role', locals: { user: u }  %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @user %>