<div class="ui card">
  <div class="image">
    <%= avatar_for(@user) %>
  </div>
  <div class="content">
    <div class="header"><%= @user.login %>
      <% if can? :change_role, User %>
          (<%= @user.role %>)
      <% end %>
    </div>
    <div class="meta">
      <span class="date"><%= @user.created_at.strftime('%d %B, %Y at %H:%M:%S') %></span>
    </div>
    <div class="description">
      <p><%= @user.email %></p>
      <p><%= @user.country %> <%= @user.city %> <%= @user.address %></p>
    </div>
  </div>
  <div class="extra content">
    <%= link_to questions_user_path(@user) do %>
      <i class="help icon"></i>
      <%= @user.questions.count %> 
    <% end %>
    <i class="comments icon"> </i>
    <%= @user.comments.count %>
    <div class="right floated ">
      <% if @user == current_user %>
          <div>
            <%= link_to 'Change Password or Email',  edit_user_registration_path %>
          </div>
          <div>
            <%= link_to 'Edit profile', edit_user_path(@user) %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'users/change_role', locals: { user: @user }  %>

