<table class="ui celled padded table" >
  <thead>
    <tr>
      <td>Autor</td>
      <td>Description</td>
      <td>User Id</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @book.each do |book|%>
      <tr>
        <td><%= book.author %></td>
        <td><%= book.description%></td>
        <td><%= book.user_id %></td>
        <td>
          <%= link_to 'Show', book %>
          <%= link_to 'Edit', edit_book_path(book) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>