<%= form_for(@book) do |f|%>
  <%= f.label :author%>
  <%= f.text_field :author%>

   <%= f.label :description%>
    <%= f.text_field :description %>

    <%= f.label 'User'%>
    <%= f.text_field :user_id%>
    <%= f.submit 'Save' %>
<% end %>