<div class="ui two column centered grid">
  <div class="column">
    <h2 class="ui dividing header">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class:'ui form'}) do |f| %>
      <div class="field">
        <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>

      </div>

      <div class="field">
        <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field ui checkbox">
          <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        </div>
        <% end -%>

      <div class="actions">
        <%= f.submit "Log in", {class: 'ui button'} %>
      </div>
      <% end %>

        <%= render "devise/shared/links" %>

  </div>
</div>