// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.voting, .make-best{  
    form{
      display: inline-block;
      button{
        background:none!important;
        color:inherit;
        border:none;
        padding:0!important;
        font: inherit;
        cursor: pointer;
        i{
          font-size: 18px;
          margin: 0;
        }
      }
      button:focus{
        outline:none;
      }
      &.like:hover, &.like.voted {
        color: #008000;
      }
      &.dislike:hover, &.dislike.voted {
        color: #ff2733;
      }
    }
    span.voting-counter_positive{
      color: #008000;
    }
    span.voting-counter_negative{
      color: #ff2733;
    }
  }