<% if resource.errors.any? %>
    <div class="ui visible error message">
      <div class="header">
        <%= pluralize(resource.errors.count, 'error')%>
      </div>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
            <li><%=	message %></li>
        <% end %>
      </ul>
    </div>
<% end %>