<header class="ui inverted menu">
  <div class="ui container">
    <%= link_to 'StackOverflow', root_path, {class: 'header item'} %>
    <% if can? :index, User %>
      <%= link_to 'Users', users_path, { class:'item' }%>
    <% end %>
    <div class="right menu">
      <% if !current_user.nil? && (current_user.role == 'admin' && current_user.role == 'moderator') %>
        <div class="item">
          <div class="ui red label">
            <%= current_user.role %>
          </div>
        </div>
      <% end %>
      <% if user_signed_in? %>
          <div class="item">
            <%=  current_user.login %>           
          </div>      
          <div class="item">
            <%= link_to('Profile',  user_path(current_user), class: 'ui primary button') %>
          </div>
          <div class="item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'ui  button') %>
          </div>
      <% else %>
          <div class="item">
            <%= link_to('Login', new_user_session_path, class: 'ui primary button')  %>
          </div>
          <div class="item">
            <%= link_to('Sign up', new_user_registration_path, class: 'ui primary button')  %>
          </div>
      <% end %>
    </div>
  </div>
</header>