<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="ui container main-content">
  <% if notice.present? %>
      <div class="ui positive  message  transition ">
        <i class="close icon"></i>
        <%= notice %>
      </div>
  <% end %>
  <% if alert.present? %>
      <div class="ui error  message  transition ">
        <i class="close icon"></i>
        <%= alert %>
      </div>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
